.working_content{
  height: calc(100% - #{$breadcrumbHeight});
  .working_content_c{
    height: 100%;
    i.iconfont{
      line-height: 1;
    }
    .el-container{
      position: relative;
    }
    .el-aside {
      width: 230px !important;
      height: 100%;
      padding-top: 0;
      box-sizing: border-box;
      @include theme-content-bg;
      border-right: 1px solid $borderBlack;
      @include theme-border-color;
        
      .el-menu{
        @include theme-content-bg(!important);
      }
      
    }
  }
}
.working-management {
  padding-top: 0;
  .park_left_icon{
    position: absolute;
    left: -11px;
    top: 19px;
    
    &.park_area_icon{
      font-size: 16px !important;
    }
    &.active0{
      color: $statusColorRed !important;
    }
    &.active1{
      color: $statusColorGreen !important;
    }
    &.active2{
      color: $statusColorGray !important;
    }
    &.active3{
      color: $statusColorYellow !important;
    }
  }

  .unload-area{
    display: block;
    width: 165px;
    @include no-line;
    i.park_left_icon{
      color: $textGrayColor;
      font-size: 16px !important;
      top: 20px;
      left: -10px;
    }
  }
  .element_status{
    // border: 1px solid $statusColorGreen;
    background: rgba($color: $statusColorGreen, $alpha: 0.2);
    color: $statusColorGreen;
    padding: 2px 8px;
    font-style: normal;
    border-radius: 3px;
    margin-left: 3px;
    font-size: 12px !important;
    //1就绪green,2延时yellow,3故障red,4备用blue,5备用离线gray
    &.opt_status0{
      color: $statusColorGray !important;
      border-color: $statusColorGray;
    }
    &.opt_status1{
      color: $statusColorGreen !important;
      border-color: $statusColorGreen;
    }
    &.opt_status2{
      color: $statusColorYellow !important;
      border-color: $statusColorYellow;
    }
    &.opt_status3{
      color: $statusColorRed !important;
      border-color: $statusColorRed;
    }
    &.opt_status4{
      color: $statusColorBlue !important;
      border-color: $statusColorBlue;
    }
    // 允许停靠
    &.stop_status0{
      color: $statusColorRed !important;
      border-color: $statusColorRed;
    }
    &.stop_status1{
      color: $statusColorGreen !important;
      border-color: $statusColorGreen;
    }
    &.stop_status2{
      color: $statusColorGray !important;
      border-color: $statusColorGray;
    }
    &.stop_status3{
      color: $statusColorYellow !important;
      border-color: $statusColorYellow;
    }
  }
  .dock-area,.dock-place{
    display: block;
    width: 145px;
    @include no-line;
    .dock-place-name{
      margin-left: 0;
      display: inline-block;
      max-width: 80px;
      @include no-line;
    }
  }
  .el-menu {
    p{
      position: relative;
      .icon-dianwei{
        position: absolute;
        left: -8px;
        top: 18px;
        background: none;
        height: 16px;
        width: 16px;
        font-size: 14px !important;
        // 允许进入状态
        &.open_status0{
          color: $statusColorRed;
        }
        &.open_status1{
          color: $statusColorGreen;
        }
        &.open_status2{
          color: #999999;
        }
        &.open_status3{
          color: $statusColorYellow;
        }
      }
    }
    i.plaint{
      height: 19px;
      width: 19px;
      line-height: 19px;
      text-align: center;
      border: 1px solid #fa0;
      font-style: normal;
      background: rgba(255,230,145,0.3);
      border-radius: 50%;
      font-size: 14px;
      color: #fa0 !important;
      position: absolute;
      left: 0;
      top: 19px;
      left: 11px;
    }
  
    li.other{
      &.item_menu1{
        .el-submenu__title{
          padding-left: 24px !important;
        }
      }
      &.item_menu2{
        .el-submenu__title{
          padding-left: 32px !important;
        }
      }
      &.item_menu3{
        padding-left: 42px !important;
      }
    }
  
    li.active-item{
      &>.el-submenu__title{
        position: relative;
        // color: #fff;
        // @include device-type-num-bg;
        @include working-nav-active;

        // background: rgba($color: $themeOrange, $alpha: 0.2);
        span{
          @include working-nav-active-color(!important);
        }
        &::after{
          content: "";
          position: absolute;
          left: 0px;
          top: 0;
          height: 100%;
          width: 4px;
          color: #fff;
        }
      }
    }
    li.active-item.el-menu-item{
      position: relative;
      // color: #fff;
      @include working-nav-active;
      
      span{
        @include working-nav-active-color(!important);
      }
      &::after{
        content: "";
        position: absolute;
        left: 0px;
        top: 0;
        height: 100%;
        width: 2px; 
        background: $themeOrange;
      }
    }
    .el-submenu.is-disabled .el-menu-item.active-item, .el-submenu.is-disabled.active-item .el-submenu__title{
      opacity: 1;
      cursor: default;
      // background: $hearderBg !important;
      @include working-nav-active;
    }
    // &>div>.el-submenu.is-active{
    //   &>.el-submenu__title{
    //     background: rgba($color: $hearderBg, $alpha: 0.5) !important;
    //   }
    // }
    .el-menu-item{
      &:hover,&:focus{
        // background: $hearderBg !important;
        @include working-nav-active;
        @include working-nav-active-color(!important);
      }
    }
    .el-submenu__title{
      &:hover,&:focus{
        // background: $hearderBg !important;
        @include working-nav-active;
        color: #fff;
      }
    }
  }
  
}


// 地图元素

.load-container {
  // 局部
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  &.processing{
    left: 0;
  }
  .map {
    height: calc(100% - 50px);
    width: 100%;
    z-index: 1;
    .map-icon {
      font-size: 28px;
      padding-left: 3px;
      cursor: pointer;
    }
    .icon_devices{
      cursor: default;
      &:hover{
        .device_title{
          color: #000;
        }
      }
    }
    
      
    .map_device_name{
      position: absolute;
      left: 0;
      padding: 0 6px;
      text-align: center;
      white-space: nowrap;
      color: #000;
      font-size: 14px;
      background: rgba(255, 255, 255, 0.85);
      border: 1px solid #aaa;
      border-radius: 3px;
      font-size: 14px;
      left: 50%;
      top: 6px;
      transform: translate(-50%, -50%);
      cursor: default;
    }
    
    .devices_v1{
      &.zoom22{
        .map_device_name{
          font-size: 22px;
        }
      }
      &.zoom21{
        .map_device_name{
          font-size:20px;
        }
      }
    } 
  }
  .map-info {
    position: absolute;
    top: 5px;
    left: 20px;
    height: 40px;
    z-index: 2;
    width: calc(100% - 170px);
    &>.map-li{
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .map-title {
      font-size: 14px;
      color: #333;
      height: 40px;
      line-height: 40px;
    }
    .status-cart{
      span{
        @include theme-content-color;
      }
      b{
        font-weight: normal;
        color: $textGrayColor;
      }
      .el-switch {
        .el-switch__core {
          border: unset;
          border-radius: 3px;
          background: $textGrayColor;
          width: 26px !important; // 默认在元素上有一个 width=40px
          height: 14px !important;
          &::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 2px;
            transition: all .3s;
            width: 10px;
            height: 10px;
            background-color: #FFF;
            transform: translateY(-50%);
            border-radius: 2px;
          }
        }
        &.is-checked {
          .el-switch__core {
            background: #FF5900;
            &::after {
              left: 100%;
              margin-left: -12px;
            }
          }
        }
      }
      
    }
    .alarm-cart{
      position: absolute;
      top: -10px;
      left: -20px;
      // background: $headerTitle;
      line-height: 24px;
      // border-radius: 10px;
      // width: 600px;
      padding: 5px 10px;
      // height: 80px;
      // color: $themeContentColor;
      @include theme-content-color;
      // box-shadow: 1px 1px 10px 2px rgba($color: #000000, $alpha: 0.1);
      .alarm-content{
        padding-left:10px;
      }
    }
    .el-button {
      padding: 4px 15px;
      height: 32px;
      &.is-disabled{
        opacity: 0.3;
      }
      i{
        font-size: 14px;
      }
    }
  }
  // 全局
  .leaflet-marker-icon{
    width:14px !important;
    height: 14px !important;
    margin-left: -7px !important;
    margin-top: -7px !important;
  }
  .leaflet-div-icon{
    border-radius: 50%;
    border: 1px solid #38f;
  }
  .leaflet-draw-toolbar {
    margin-top: -4px;
  }
  
  .status-cart{
    .el-checkbox__inner{
      height: 18px;
      width: 18px;
      &::after{
        height: 10px;
        width: 6px;
      }
    }
    .el-checkbox__input.is-checked .el-checkbox__inner,.el-checkbox__input.is-indeterminate .el-checkbox__inner{
      border-color: $themeRed !important;
      background-color: $themeRed !important;
    }
  }

}